

<%= form_for @user do |f| %>
<% @user.errors.any? %>
	<% @user.errors.full_messages.each do |msg| %>
			<p>
				<%= msg %>
			</p>
		</div>
	<% end %>
  <div class="field">
		<div>
			<h2>Edit account</h2>
		
				<%= f.text_field :username, placeholder: "Username" %>

				<%= f.email_field :email, placeholder: "Email" %>

				<%= f.password_field :password, placeholder: "Password" %>

				<%= f.submit 'submit', class:'button' %>
			</div>
		</div>
<% end %>